<section>
  <div class="page-header">
    <h1>Tradies</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="tradie in vm.tradies"
       data-ui-sref="tradies.view({ tradieId: tradie._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="tradie.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="tradie.user" data-ng-bind="tradie.user.displayName"></span>
        <span data-ng-if="!tradie.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="tradie.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.tradies.$resolved && !vm.tradies.length">
    No Tradies yet, why don't you <a data-ui-sref="tradies.create">create one</a>?
  </div>
</section>
